<table class="table bg-light" id="dataAdminTable">
    <thead class="thead-light">
        <tr>
            <th>
                <b>No</b>
            </th>
            <th>
                <b>Kode Admin</b>
            </th>
            <th>
                <b>Password</b>
            </th>
            <th>
                <b>Terakhir Login</b>
            </th>
            <th>
                <b>Tanggal Dibuat</b>
            </th>
            <th>
                <b>Jenis Admin</b>
            </th>
            <th>
                <input type="checkbox" name="allItems" id="allItems">
            </th>
            <th class="text-right">
                <a href="#" class="no-underline">
                    <button class="btn  btn-info" data-toggle="modal" data-target="#tambahAdmin">tambah</button>
                </a>
                <a href="/admin/cetak-data-admin" class="no-underline">
                    <button class="btn menu-visited btn-info">Cetak</button>
                </a>
                <!-- Modal Tambah -->
                <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="lihatModal" aria-hidden="true" id="tambahAdmin">
                    <div class="modal-dialog modal-xl" role="document">
                        <div class="modal-content lihat-modal">
                            <h4 class="text-center">
                                <b>
                                    Tambah Data Admin
                                </b>
                            </h4>
                            <form action="/admin/add-data-admin" method="post">
                            <p class="text-center">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, facilis sunt, fugiat corrupti suscipit rerum dolorem nihil in nemo quam praesentium voluptas exercitationem quis a dignissimos laudantium, natus fugit consequuntur!
                            </p>
                            <div class="row mx-4">
                                <div class="col text-left title-modal-color">
                                    Kode Admin
                                </div>
                                <div class="col text-left title-modal-color">
                                    NIK
                                </div>
                            </div>
                            <div class="row mx-4 mb-3">
                                <div class="col text-left">
                                    <input type="text" class="form-control" name="tambahKodeAdmin" required>
                                </div>
                                <div class="col text-left">
                                    <input type="text" class="form-control" name="tambahNik" required>
                                </div>
                            </div>
                            <div class="row mx-4">
                                <div class="col text-left title-modal-color">
                                    <div class="row">
                                        <div class="col">
                                            Nama Depan
                                        </div>
                                        <div class="col">
                                            Nama Belakang
                                        </div>
                                    </div>
                                </div>
                                <div class="col text-left title-modal-color">
                                    Password
                                </div>
                            </div>
                            <div class="row mx-4 mb-3">
                                <div class="col text-left">
                                    <div class="row">
                                        <div class="col">
                                            <input type="text" class="form-control" name="tambahNamaDepanAdmin" required>
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control" name="tambahNamaBelakangAdmin" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col text-left">
                                    <input type="text" class="form-control" name="tambahPassword" required>
                                </div>
                            </div>
                            <div class="row mx-4">
                                <div class="col text-left title-modal-color">
                                    Jenis Admin
                                </div>
                                <div class="col text-left title-modal-color">
                                    Email
                                </div>
                            </div>
                            <div class="row mx-4 mb-3">
                                <div class="col text-left">
                                    <select name="tambahJenisAdmin" class="form-control" id="pilihJenisAdmin" onchange="changeFormTambah();" required>
                                        <option selected>Pilih Jenis Admin</option>
                                        <option value="adminPusat">Admin Pusat</option>
                                        <option value="adminTpu">Admin TPU</option>
                                    </select>
                                </div>
                                <div class="col text-left">
                                    <input type="email" class="form-control" name="tambahEmail" required>
                                </div>
                            </div>
                            <div class="row mx-4">
                                <div class="col text-left title-modal-color">
                                    Alamat
                                </div>
                                <div class="col text-left title-modal-color">
                                    Kelurahan
                                </div>
                            </div>
                            <div class="row mx-4 mb-3">
                                <div class="col text-left">
                                    <input type="text" class="form-control" name="tambahAlamat" required>
                                </div>
                                <div class="col text-left">
                                    <input type="text" class="form-control" name="tambahKelurahan" required>
                                </div>
                            </div>
                            <div class="row mx-4">
                                <div class="col text-left title-modal-color">
                                    Kode Pos
                                </div>
                                <div class="col text-left title-modal-color">
                                    Kecamatan
                                </div>
                            </div>
                            <div class="row mx-4 mb-3">
                                <div class="col text-left">
                                    <input type="text" class="form-control" name="tambahKodePos" required>
                                </div>
                                <div class="col text-left">
                                    <input type="text" class="form-control" name="tambahKecamatan" required>
                                </div>
                            </div>
                            <div class="row mx-4">
                                <div class="col text-left title-modal-color">
                                    Kota / Kabupaten
                                </div>
                                <div class="col text-left title-modal-color">
                                    Provinsi
                                </div>
                            </div>
                            <div class="row mx-4 mb-3">
                                <div class="col text-left">
                                    <input type="text" class="form-control" name="tambahKotaKabupaten" required>
                                </div>
                                <div class="col text-left">
                                    <input type="text" class="form-control" name="tambahProvinsi" required>
                                </div>
                            </div>
                            <div class="row mx-4">
                                <div class="col text-left title-modal-color">
                                    Nama TPU
                                </div>
                                <div class="col text-left title-modal-color">
                                    No Telepon
                                </div>
                            </div>
                            <div class="row mx-4 mb-3">
                                <div class="col text-left">
                                    <select name="tambahSelectedTpu" class="form-control" id="selectTpu" disabled>
                                        <option value="" selected>Pilih TPU</option>
                                        <% listTpu.forEach(tpu => { %>
                                            <option value="<%= tpu.kd_tpu %>"><%= tpu.nama_tpu %></option>
                                        <% }) %>
                                    </select>
                                </div>
                                <div class="col text-left">
                                    <input type="text" class="form-control" name="tambahTelepon" required>
                                </div>
                            </div>
                            <div class="row mx-4">
                                <div class="col text-left title-modal-color">
                                    Jenis Kelamin
                                </div>
                            </div>
                            <div class="row mx-4 mb-3">
                                <div class="col text-left">
                                    <input type="radio"  name="tambahKelamin" value="pria" > Pria &nbsp;
                                    <input type="radio"  name="tambahKelamin" value="wanita"> Wanita
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col mr-3">
                                    <button class="btn btn-secondary mr-3" data-dismiss="modal">Batal</button>
                                    <button type="submit" class="btn btn-info">Tambah</button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </th>
        </tr>
    </thead>
</table>
<div class="row  mx-auto justify-content-center">

    <div class="col text-center">
        <button class="btn menu-visited " onclick="toPage(currentPage - 1)"><</button>
        <span id="pageList"></span>
        <button class="btn menu-visited " onclick="toPage(currentPage + 1)">></button>
    </div>
</div>
<script>
    
    var dataAdmin = [];
    <% dataAdmin.forEach(admin => { %>
        var adminObj = {};
        adminObj.password = '<%= admin.password %>';
        adminObj.tanggalDibuat = '<%= admin.tanggal_dibuat %>';
        adminObj.terakhirLogin = '<%= admin.terakhir_login %>';
        adminObj.kdAdmin = '<%= admin.kd_admin %>';
        adminObj.nik = '<%= admin.nik %>';
        adminObj.namaDepan = '<%= admin.nama_depan %>';
        adminObj.namaBelakang = '<%= admin.nama_belakang %>';
        adminObj.jenisAdmin = '<%= admin.jenis_admin %>';
        adminObj.email = '<%= admin.email %>';
        adminObj.alamat = '<%= admin.alamat %>';
        adminObj.kelurahan = '<%= admin.kelurahan %>';
        adminObj.kodePos = '<%= admin.kode_pos %>';
        adminObj.kecamatan = '<%= admin.kecamatan %>';
        adminObj.kotaKabupaten = '<%= admin.kota_kabupaten %>';
        adminObj.provinsi = '<%= admin.provinsi %>';
        adminObj.kdTpu = '<%= admin.kd_tpu %>';
        adminObj.namaTpu = '<%= admin.nama_tpu %>' || '-';
        adminObj.noTelepon = '<%= admin.no_telepon %>';
        adminObj.jenisKelamin = '<%= admin.jenis_kelamin %>';
        dataAdmin.push(adminObj);
    <% }) %>

    displayData('','');

    function flushTbody(table, minus) {
        if(table.tBodies) {
            var tbodiesLength = table.tBodies.length;
            if(minus == true) { tbodiesLength--; };
            console.log('length tb ', tbodiesLength);
            document.getElementById('pageList').innerHTML = '';
            for (countTbodies = 0; countTbodies < tbodiesLength; countTbodies++) {
                table.tBodies[countTbodies].remove();

            }
        }
    }

    // Adjusting display data, wether it search mode or main mode
    function displayData(displayMode, searchResult){
        var putData, emptyData;
        var contentPerPage = 10; // Set your content per page here
        var table = document.getElementById('dataAdminTable');
        var pageList = document.getElementById('pageList');

        // flush all tbodies
        flushTbody(table, false);
        // Define wheter its to display search or not
        if(displayMode == 'search') {
            putData = searchResult;
            console.log('masuk search');
            console.log('lengthnya ', putData.length);
            flushTbody(table, true);
        } else {
            // Put main content obj
            putData = dataAdmin;
        }
        // flushTbody(table, true);
        // Put data to page
        var count = 1;

        if(putData.length == 0) { // If theres no data
            var noDataTbody = document.createElement('tbody');
            noDataTbody.setAttribute('id', 'page1');
            noDataTbody.innerHTML = `
                <tr>
                    <td colspan="8">
                        <h4 class="text-center text-secondary"> Belum Ada Data Saat Ini </h4>
                    </td>
                </tr>
            `;
            table.appendChild(noDataTbody);
        }
        
        var contentLength = putData.length; // set your object length here
        var pageAmount = contentLength % contentPerPage == 0 ? (contentLength / contentPerPage) : (contentLength / contentPerPage) + 1;
        // Making layer pages
        console.log('page ', pageAmount);
        for(i = 1; i <= pageAmount; i++) {
            console.log('page ke', i);

            // Setup your style button here
            var tbody = document.createElement('tbody');
            var button = document.createElement('button');
            button.setAttribute('id', `btnPage${i}`);
            button.setAttribute('class', 'btn menu-visited btn-info');
            button.setAttribute('onclick', `toPage(${i})`);
            button.textContent = i;

            if(i < 2) {
                button.disabled = true;
            }
            pageList.appendChild(button);
            switch(i) {
                case 1 :
                    currentIndex = 0;
                    break;
                case 2 :
                    currentIndex = contentPerPage;
                    break;
                case i > 2 :
                    currentIndex = (i * contentPerPage) - 1;
                    break;
                default :
                    currentIndex = 0;
                    break;
            }
            console.log('currentnya ', currentIndex);
            tbody.setAttribute('id', `page${i}`);
            if(i > 1) {
                tbody.setAttribute('hidden', '');
            }

            // for (count = 1; count <= contentPerPage; count++) {
            for (count = 1; count <= contentPerPage; count++) {
                var getIndex = currentIndex;
                if(!putData[getIndex]) { break; }; // when undefined or index is not exist then break the loop
                console.log(count, putData[getIndex]);

                // setup your tbody style
                tbody.innerHTML += rowsOfData((getIndex + 1), putData[getIndex]);
                // Apply into tbody
                // tbody.appendChild(tr);
                currentIndex++;
            }
            table.appendChild(tbody);
            currentPage = 1; // have to assign the current page
        }
    }

    // ToPage function is to make the other layer page visible while hid the current layer
    function toPage(setPage) {
        console.log(setPage);
        if(document.getElementById(`page${setPage}`)) {
            console.log('exist');
            var currentLayerPage = document.getElementById(`page${currentPage}`);
            var toLayerPage = document.getElementById(`page${setPage}`);
            var btnCurrentPage = document.getElementById(`btnPage${currentPage}`);
            var btnToPage = document.getElementById(`btnPage${setPage}`);
            currentLayerPage.setAttribute('hidden', ''); // hid current page
            toLayerPage.removeAttribute('hidden');
            btnCurrentPage.disabled = false;
            btnToPage.disabled = true;
            currentPage = setPage;
        }else {
            console.log('layer page not exist');
        }
    }

    // Change form tambah according to jenis admin
    function changeFormTambah() {
        var jenisAdmin = document.getElementById('pilihJenisAdmin').value;
        console.log(jenisAdmin);
        if(jenisAdmin == 'adminTpu') {
            document.getElementById('selectTpu').disabled = false;
            document.getElementById('selectTpu').required = true;
        } else {
            document.getElementById('selectTpu').disabled = true;
            document.getElementById('selectTpu').removeAttribute('required', '');
        }
    }

    // Change form ubah according to jenis admin
    function changeFormUbah(jenisAdmin, kdAdmin) {
        if(jenisAdmin == false) {
            document.getElementById('ubahTpu' + kdAdmin).disabled = false;
            document.getElementById('ubahTpu' + kdAdmin).required = true;
        } else {
            document.getElementById('ubahTpu' + kdAdmin).disabled = true;
            document.getElementById('ubahTpu' + kdAdmin).removeAttribute('required', '');
        }
    }

    // Define gender Modal Ubah
    function ubahGender(setKdAdmin, setGender) {
        if(setGender == true) {
            document.getElementById('ubahWanita' + setKdAdmin).checked = true;
        } else {
            document.getElementById('ubahPria' + setKdAdmin).checked = true;
        }
    }

    // Define gender Modal Lihat
    function gender(setKdAdmin, setGender) {
        if(setGender == true) {
            document.getElementById('wanita' + setKdAdmin).checked = true;
        } else {
            document.getElementById('pria' + setKdAdmin).checked = true;
        }
    }

    // Search from data local
    function searchData() {
        var keyword = document.getElementById('inputSearch').value;
        console.log('valuenya ' + keyword);
        var result = dataAdmin.filter(data => {
            var regex = RegExp(keyword, 'g');
            if(regex.test(data['namaDepan']) == true || regex.test(data['namaBelakang']) == true || regex.test(data['kdAdmin']) == true) {
                return data;
            }

        });
        console.log(result);
        displayData('search', result);
    }

    function rowsOfData(count, admin) {
        return `
            <tr>
                <td>${count}</td>
                <td>${admin.kdAdmin}</td>
                <td>${admin.password}</td>
                <td>${admin.terakhirLogin}</td>
                <td>${admin.tanggalDibuat}</td>
                <td>${(admin.jenisAdmin.length == 4 ? 'Admin Pusat' : 'Admin TPU')}</td>
                <td>
                    <input type="checkbox" name="a" id="a">
                </td>
                <td class="text-right">
                    <a href="#" class="no-underline">
                        <button class="btn menu-visited btn-info" data-toggle="modal" data-target="#lihat${admin.kdAdmin}" onclick="gender('${admin.kdAdmin}', ${admin.jenisKelamin})">Lihat</button>
                    </a>
                    <!-- Modal Lihat -->
                    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="lihatModal" aria-hidden="true" id="lihat${admin.kdAdmin}">
                        <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content lihat-modal">
                                <h4 class="text-center">
                                    <b>
                                        Data Admin
                                    </b>
                                </h4>
                                <p class="text-center">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, facilis sunt, fugiat corrupti suscipit rerum dolorem nihil in nemo quam praesentium voluptas exercitationem quis a dignissimos laudantium, natus fugit consequuntur!
                                </p>
                                <div class="row mx-4">
                                    <div class="col text-left title-modal-color">
                                        Kode Admin
                                    </div>
                                    <div class="col text-left title-modal-color">
                                        NIK
                                    </div>
                                </div>
                                <div class="row mx-4 mb-3">
                                    <div class="col text-left">
                                        ${admin.kdAdmin}
                                        <hr class="bg-info">
                                    </div>
                                    <div class="col text-left">
                                        ${admin.nik}
                                        <hr class="bg-info">
                                    </div>
                                </div>
                                <div class="row mx-4">
                                    <div class="col text-left title-modal-color">
                                        Nama Admin
                                    </div>
                                    <div class="col text-left title-modal-color">
                                        Password
                                    </div>
                                </div>
                                <div class="row mx-4 mb-3">
                                    <div class="col text-left">
                                        ${admin.namaDepan} ${admin.namaBelakang}
                                        <hr class="bg-info">
                                    </div>
                                    <div class="col text-left">
                                        ${admin.password}
                                        <hr class="bg-info">
                                    </div>
                                </div>
                                <div class="row mx-4">
                                    <div class="col text-left title-modal-color">
                                        Jenis Admin
                                    </div>
                                    <div class="col text-left title-modal-color">
                                        Email
                                    </div>
                                </div>
                                <div class="row mx-4 mb-3">
                                    <div class="col text-left">
                                        ${(admin.jenisAdmin.length == 4 ? 'Admin Pusat' : 'Admin TPU')}
                                        <hr class="bg-info">
                                    </div>
                                    <div class="col text-left">
                                        ${admin.email}
                                        <hr class="bg-info">
                                    </div>
                                </div>
                                <div class="row mx-4">
                                    <div class="col text-left title-modal-color">
                                        Alamat
                                    </div>
                                    <div class="col text-left title-modal-color">
                                        Kelurahan
                                    </div>
                                </div>
                                <div class="row mx-4 mb-3">
                                    <div class="col text-left">
                                        ${admin.alamat}
                                        <hr class="bg-info">
                                    </div>
                                    <div class="col text-left">
                                        ${admin.kelurahan}
                                        <hr class="bg-info">
                                    </div>
                                </div>
                                <div class="row mx-4">
                                    <div class="col text-left title-modal-color">
                                        Kode Pos
                                    </div>
                                    <div class="col text-left title-modal-color">
                                        Kecamatan
                                    </div>
                                </div>
                                <div class="row mx-4 mb-3">
                                    <div class="col text-left">
                                        ${admin.kodePos}
                                        <hr class="bg-info">
                                    </div>
                                    <div class="col text-left">
                                        ${admin.kecamatan}
                                        <hr class="bg-info">
                                    </div>
                                </div>
                                <div class="row mx-4">
                                    <div class="col text-left title-modal-color">
                                        Kota / Kabupaten
                                    </div>
                                    <div class="col text-left title-modal-color">
                                        Provinsi
                                    </div>
                                </div>
                                <div class="row mx-4 mb-3">
                                    <div class="col text-left">
                                        ${admin.kotaKabupaten}
                                        <hr class="bg-info">
                                    </div>
                                    <div class="col text-left">
                                        ${admin.provinsi}
                                        <hr class="bg-info">
                                    </div>
                                </div>
                                <div class="row mx-4">
                                    <div class="col text-left title-modal-color">
                                        Nama TPU
                                    </div>
                                    <div class="col text-left title-modal-color">
                                        No Telepon
                                    </div>
                                </div>
                                <div class="row mx-4 mb-3">
                                    <div class="col text-left">
                                        ${admin.namaTpu}
                                        <hr class="bg-info">
                                    </div>
                                    <div class="col text-left">
                                        ${admin.noTelepon}
                                        <hr class="bg-info">
                                    </div>
                                </div>
                                <div class="row mx-4">
                                    <div class="col text-left title-modal-color">
                                        Jenis Kelamin
                                    </div>
                                    <div class="col text-left title-modal-color">
                                        Tanggal Dibuat
                                    </div>
                                </div>
                                <div class="row mx-4 mb-3">
                                    <div class="col text-left">
                                        <input type="radio" id="pria${admin.kdAdmin}" name="kelamin" value="pria" disabled> Pria &nbsp;
                                        <input type="radio" id="wanita${admin.kdAdmin}" name="kelamin" value="wanita" disabled> Wanita
                                        <hr class="bg-info">
                                    </div>
                                    <div class="col text-left">
                                        ${admin.tanggalDibuat}
                                        <hr class="bg-info">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col text-right px-4">
                                        <button class="btn btn-secondary mx-4" data-dismiss="modal">Tutup</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a href="/admin/delete-data-admin/${admin.kdAdmin}/${admin.nik}" class="no-underline">
                        <button class="btn menu-visited btn-info">Hapus</button>
                    </a>
                    <a href="#" class="no-underline">
                        <button class="btn menu-visited btn-info" data-toggle="modal" data-target="#ubah${admin.kdAdmin}" onclick="changeFormUbah(${admin.jenisAdmin}, '${admin.kdAdmin}'); ubahGender('${admin.kdAdmin}', ${admin.jenisKelamin})">Ubah</button>
                    </a>
                    <!-- modal ubah --!>
                    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="lihatModal" aria-hidden="true" id="ubah${admin.kdAdmin}">
                        <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content lihat-modal">
                                <h4 class="text-center">
                                    <b>
                                        Ubah Data Admin
                                    </b>
                                </h4>
                                <form action="/admin/update-data-admin" method="post">
                                <input type="hidden" name="ubahOldNik" value="${admin.nik}">
                                <input type="hidden" name="ubahOldKdAdmin" value="${admin.kdAdmin}">
                                <input type="hidden" name="ubahOldKdTpu" value="${admin.kdTpu || '-'}">
                                <input type="hidden" name="ubahJenisAdmin" value="${admin.jenisAdmin}">
                                <p class="text-center">
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, facilis sunt, fugiat corrupti suscipit rerum dolorem nihil in nemo quam praesentium voluptas exercitationem quis a dignissimos laudantium, natus fugit consequuntur!
                                </p>
                                <div class="row mx-4">
                                    <div class="col text-left title-modal-color">
                                        Kode Admin
                                    </div>
                                    <div class="col text-left title-modal-color">
                                        NIK
                                    </div>
                                </div>
                                <div class="row mx-4 mb-3">
                                    <div class="col text-left">
                                        <input type="text" class="form-control" name="ubahKodeAdmin" value="${admin.kdAdmin}" required>
                                    </div>
                                    <div class="col text-left">
                                        <input type="text" class="form-control" name="ubahNik" value="${admin.nik}" required>
                                    </div>
                                </div>
                                <div class="row mx-4">
                                    <div class="col text-left title-modal-color">
                                        <div class="row">
                                            <div class="col">
                                                Nama Depan
                                            </div>
                                            <div class="col">
                                                Nama Belakang
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col text-left title-modal-color">
                                        Password
                                    </div>
                                </div>
                                <div class="row mx-4 mb-3">
                                    <div class="col text-left">
                                        <div class="row">
                                            <div class="col">
                                                <input type="text" class="form-control" name="ubahNamaDepanAdmin" value="${admin.namaDepan}" required>
                                            </div>
                                            <div class="col">
                                                <input type="text" class="form-control" name="ubahNamaBelakangAdmin" value="${admin.namaBelakang}" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col text-left">
                                        <input type="text" class="form-control" name="ubahPassword" required>
                                    </div>
                                </div>
                                <div class="row mx-4">
                                    <div class="col text-left title-modal-color">
                                        Jenis Admin
                                    </div>
                                    <div class="col text-left title-modal-color">
                                        Email
                                    </div>
                                </div>
                                <div class="row mx-4 mb-3">
                                    <div class="col text-left">
                                        ${(admin.jenisAdmin.length == 4 ? 'Admin Pusat' : 'Admin TPU')}
                                    </div>
                                    <div class="col text-left">
                                        <input type="email" class="form-control" name="ubahEmail" value="${admin.email}" required>
                                    </div>
                                </div>
                                <div class="row mx-4">
                                    <div class="col text-left title-modal-color">
                                        Alamat
                                    </div>
                                    <div class="col text-left title-modal-color">
                                        Kelurahan
                                    </div>
                                </div>
                                <div class="row mx-4 mb-3">
                                    <div class="col text-left">
                                        <input type="text" class="form-control" name="ubahAlamat" value="${admin.alamat}" required>
                                    </div>
                                    <div class="col text-left">
                                        <input type="text" class="form-control" name="ubahKelurahan" value="${admin.kelurahan}" required>
                                    </div>
                                </div>
                                <div class="row mx-4">
                                    <div class="col text-left title-modal-color">
                                        Kode Pos
                                    </div>
                                    <div class="col text-left title-modal-color">
                                        Kecamatan
                                    </div>
                                </div>
                                <div class="row mx-4 mb-3">
                                    <div class="col text-left">
                                        <input type="text" class="form-control" name="ubahKodePos" value="${admin.kodePos}" required>
                                    </div>
                                    <div class="col text-left">
                                        <input type="text" class="form-control" name="ubahKecamatan" value="${admin.kecamatan}" required>
                                    </div>
                                </div>
                                <div class="row mx-4">
                                    <div class="col text-left title-modal-color">
                                        Kota / Kabupaten
                                    </div>
                                    <div class="col text-left title-modal-color">
                                        Provinsi
                                    </div>
                                </div>
                                <div class="row mx-4 mb-3">
                                    <div class="col text-left">
                                        <input type="text" class="form-control" name="ubahKotaKabupaten" value="${admin.kotaKabupaten}" required>
                                    </div>
                                    <div class="col text-left">
                                        <input type="text" class="form-control" name="ubahProvinsi" value="${admin.provinsi}" required>
                                    </div>
                                </div>
                                <div class="row mx-4">
                                    <div class="col text-left title-modal-color">
                                        Nama TPU
                                    </div>
                                    <div class="col text-left title-modal-color">
                                        No Telepon
                                    </div>
                                </div>
                                <div class="row mx-4 mb-3">
                                    <div class="col text-left">
                                        <select name="ubahSelectedTpu" class="form-control" id="ubahTpu${admin.kdAdmin}" disabled>
                                            <option value="${admin.kdTpu || '-'}" selected>${admin.namaTpu}</option>
                                            <% listTpu.forEach(tpu => { %>
                                                <option value="<%= tpu.kd_tpu %>"><%= tpu.nama_tpu %></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                    <div class="col text-left">
                                        <input type="text" class="form-control" name="ubahTelepon" value="${admin.noTelepon}" required>
                                    </div>
                                </div>
                                <div class="row mx-4">
                                    <div class="col text-left title-modal-color">
                                        Jenis Kelamin
                                    </div>
                                </div>
                                <div class="row mx-4 mb-3">
                                    <div class="col text-left">
                                        <input type="radio" id="ubahPria${admin.kdAdmin}"  name="ubahKelamin" value="pria" > Pria &nbsp;
                                        <input type="radio" id="ubahWanita${admin.kdAdmin}" name="ubahKelamin" value="wanita"> Wanita
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col mr-3">
                                        <button class="btn btn-secondary mr-3" data-dismiss="modal">Batal</button>
                                        <button type="submit" class="btn btn-info">Ubah</button>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    

                </td>
            </tr>
        `;
    }
    

    document.getElementById('dataAdmin').classList.add('menu-visited'); // On data TPU menu
    document.getElementById('search').removeAttribute('hidden'); // Search bar visible
</script>


<!-- 
    no 
    kd admin
    password
    terakhir login
    tgl_dibuat
    jenis admin

    modal lihat

    kode admin
    nik
    nama admin
    password
    jenis admin
    email
    alamat
    kelurahan
    kode pos
    kecamatan
    kota / kabupaten
    provinsi
    nama TPU
    no telepon
    jenis kelamin
    tanggal dibuat
 -->